{% extends 'base.html' %}

{% block content %}


{% if error %}


{{ error }}

<br/>
<br/>
{% endif %}



<h1></h1>

<form method="POST" action="{% url 'add' %}">
 {% csrf_token %}
 
 Word:
 <br />
 <input type="text" name="word_num" />
 <br/>
  <br/>


<!-- 

An Example of uf being used in a sentence:
<br/>
<textarea name="usedinsen" rows="3" cols="40"></textarea>
<br/>
<br>
-->



Definition:
 <br />
 <textarea name="defi" rows="3" cols="40"></textarea>
 <br/>
 <br/>

Use in a Sentence:
 <br />
 <textarea name="use_in" rows="3" cols="40"></textarea>
 <br/>
 <br/>


<input class = "btn  btn-dark" type="submit" value="Add Word"/>
</form>

{% endblock %}