{% extends 'base.html' %}


{% block content %}

{% if user.is_authenticated %}


  
{% else %}
 <div class="container-full-bg">
 <div class="jumbotron" style="width:300px ;">
      <h1 class="display-3 font-weight-bold">Word Fun!</h1>
      <p>A website that'll help you enrich your word treasure.</p>
  </div>
  </div>

  {% endif %}

{% for word in words.all %}

<div class= "row pt-3">
 <div class= "col-3" onclick="window.location='{% url 'detail' word.id %}';" style="cursor: pointer;">
  <h3 class="font-bold">{{word.word_num}}</h3>
  </div>
 </div>

<div class = "row pt-3">
<div class= "col-6">
  <a href="javascript:{document.getElementById('important{{ word.id }}').submit()}"><button class ="btn btn-dark btn-sm"><span class="oi oi-caret-top"></span> important {{ word.imp }}</button></a>
 </div>

</div>


<div class= "row pt-3">
 <div class= "col-8">
  <p>Definition :<br /><br /> {{word.summary}}</p>
</div>
 </div>
<div class= "row pt-3">
 <div class= "col-6">
  <p>Use in a sentence : {{word.use_in}}</p>
  </div>
</div>


<form id="important{{ word.id }}" method="POST" action="{% url 'important' word.id %}">
    {% csrf_token %}
    <input type="hidden">

</form>


{% endfor %}

{% endblock %}


